* {
    margin: 0px;
    padding: 0px;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.pic1 {
    width: 300px;
    margin-top: 50px;
    margin-left: 150px;
}

.text {
    margin-top: 70px;
    padding-left: 60px;
}

.btn1 {
    background-color: palevioletred;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
.btn1:hover{
    background-color: rgb(176, 150, 193);
    color: bisque;
}

.mt4 {
    text-align: center;
    margin-top: 70px;
}

.pic4 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 70px;
    text-decoration: underline;
}
.t1{
    text-align: center;
}
.p1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 140px;
    padding-top: 18px;

    border-width: 7000px;
}

.p2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 140px;
    padding-top: 70px;
}

.p3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 140px;
    border-width: 900px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.pic2 {
    width: 100px;
    margin-left: 120px;
}

.main-text {
    padding-left: 100px;
    text-align: center;
}

.btn2 {
    background-color: palevioletred;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.main2 {
    margin-top: 50px;
    padding-bottom: 20px;
}

.pic3 {
    display: flex;
    justify-content: center;

    margin-top: 10px;
    gap: 10px;
}
.I{
    text-align: center;
    background: -webkit-linear-gradient(yellow ,maroon);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.imgtag {
    width: 150px;
    height: 150px;
}

.main3 {
    background-image: url("images/Rectangle 9.png");
    background-size: 100% 100%;
    margin-top: 50px;
    height: 250px;
    margin-left: 100px;
    margin-right: 100px;
}

.main-text2 {
    text-align: center;
}

.mt {
    padding-top: 60px;
}
.btn3{
    background-color: palevioletred;
    color: aliceblue;
    border-radius: 4px;
    border: none;
    padding: 4px;
}
.inp{
    border: none;
    padding: 5px;
}

.testimonial-title {
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
    background: -webkit-linear-gradient(purple,pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.testimonial-description {
    text-align: center;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 50px;
}

.testimonial-pic {
    height: 150px;
    width: 150px;
    margin-left: 25%;
    border-radius: 50%;

}

.testimonial-content {
    text-align: center;

}

.testimonial-box {
    box-shadow: 4px 8px 16px gray;
    width: 300px;
    padding: 20px;
}
.ft{
    color: palevioletred;
}

.footer {
    text-align: center;
    color: white;
    background-color: black;
    height: 150px;
    margin-top: 80px;
    padding-top: 80px;
}